<div class="container mt-35">
    <h1>Listando repositórios do GitHub</h1>
    <hr>

    <form class="mb-10">
        <div class="mb-3 row">
            <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Buscar:</label>
            <div class="col-md-3 col-sm-auto">
                <input placeholder="Nome do repositório" type="text" class="form-control" name="search" [(ngModel)]="queryParams.search" (input)="search()">
            </div>

            <div class="col-md-8">
                <select class="form-select custom-select">
                    <option value="" selected disabled>Filtrar por</option>
                    <option [value]="'all'">Qualquer um</option>
                    <option [value]="'archived'">Arquivado</option>
                    <option [value]="'fork'">Fork</option>
                    <option [value]="'private'">Privado</option>
                </select>

                <spinner-component *ngIf="isLoading" class="float-right"></spinner-component>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" sortable="id">ID</th>
                <th scope="col" sortable="name" (sort)="onSort($event)">Repositório</th>
                <th scope="col">Público</th>
                <th scope="col" sortable="description" (sort)="onSort($event)">Descrição</th>
                <th scope="col" sortable="created_at" (sort)="onSort($event)">Data de criação</th>
                <th scope="col" sortable="updated_at" (sort)="onSort($event)">Data de atualização</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>

        <tbody>
            <tr  *ngFor="let repo of repositories | slice: (page-1) * pagination.perPage : (page-1) * pagination.perPage + pagination.perPage">
                <td scope="row">{{ repo.id }}</td>
                <td>
                    <ngb-highlight [result]="repo.name" [term]="pagination.search"></ngb-highlight>
                </td>

                <td>
                    {{ (!repo.private) ? 'Sim' : 'Não' }}
                </td>

                <td>
                    <ngb-highlight [result]="repo.description" [term]="pagination.search"></ngb-highlight>
                </td>

                <td>
                    {{ repo.created_at | moment }}
                </td>

                <td>
                    {{ repo.updated_at | moment }}
                </td>

                <td>
                    <a [href]="repo.html_url" target="_blank" title="Acessar repositório">
                        <button class="btn btn-primary btn-sm">
                            <i class="bi bi-box-arrow-up-right"></i>
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="float-left">
        <p>{{ pagination.total }} repositórios encontrados</p>
    </div>

    <div class="float-right">
        <ngb-pagination
            [collectionSize]="pagination.total" [(page)]="page" [pageSize]="pagination.perPage">
        </ngb-pagination>
    </div>
</div>